[Unit]
Description=CPU Power 

[Service]
Type=oneshot
ExecStart=/usr/bin/x86_energy_perf_policy -a performance
ExecStart=/usr/bin/bash -c '/usr/bin/echo 1 > /sys/devices/system/cpu/intel_pstate/hwp_dynamic_boost'

[Install]
WantedBy=multi-user.target
