[Desktop Entry]
Name=Bitwarden
Exec=/home/user/Applications/Bitwarden-2022.8.1-x86_64.AppImage
Comment=
Terminal=false
Icon=/home/user/Imagens/Logo Ulauncher/bitwarden2.png
Type=Application
