[Desktop Entry]
Name=Bitwarden
Exec=/home/user/Applications/Bitwarden.AppImage
Comment=Gerenciador de senhas
Terminal=false
Icon=/home/user/Imagens/Logo/bitwarden2.png
Type=Application
