[Desktop Entry]
Name=Standard Notes
Exec=/home/user/Applications/standard-notes-3.23.83-linux-x86_64.AppImage
Comment=
Terminal=false
Icon=/home/user/Imagens/Logo Ulauncher/standard.png
Type=Application
